.input{
    width: 350px;
    margin-top: 20px;
}
.addButton{
    height: 38px;
    margin-top: 20px;
}
.table{
    margin-top: 20px;
}
.button3{
    background-color: orange;
    color: #fff;
}
.text{
    margin-left: 30px;
}